### Familiarízate con las técnicas de exploración de los datos mediante la estructura de datos, Dataframe con la librería Pandas.
___
# Nivel 1
## Ejercicio 1
Descarga el dataset Airlines Delay: Airline on-time statistics and delay causas y cárgalo a un pandas Dataframe. Explora los datos que contiene, y quedate únicamente con las columnas que consideres relevantes.

In [1]:
#primero importamos las librerias necesarias
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import numpy as np

In [3]:
#ahora subimos el dataset a un panda dataframe
airlines_delay = pd.read_csv('DelayedFlights.csv')

obtenemos informacion basica del tipo de datos que contiene el dataset con la funcion *'info()'*, con la que se obtienen los detalles sobre el conjunto de datos, como el número de filas y columnas, los nombres de las columnas, qué tipo de datos hay en cada columna y cuánta memoria se está usando.

In [4]:
airlines_delay.info() #proporciona informacion basica del dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936758 entries, 0 to 1936757
Data columns (total 30 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   Year               int64
 2   Month              int64
 3   DayofMonth         int64
 4   DayOfWeek          int64
 5   DepTime            float64
 6   CRSDepTime         int64
 7   ArrTime            float64
 8   CRSArrTime         int64
 9   UniqueCarrier      object
 10  FlightNum          int64
 11  TailNum            object
 12  ActualElapsedTime  float64
 13  CRSElapsedTime     float64
 14  AirTime            float64
 15  ArrDelay           float64
 16  DepDelay           float64
 17  Origin             object
 18  Dest               object
 19  Distance           int64
 20  TaxiIn             float64
 21  TaxiOut            float64
 22  Cancelled          int64
 23  CancellationCode   object
 24  Diverted           int64
 25  CarrierDelay       float64
 26  WeatherDelay       float64
 27  NASDelay           float64
 28  SecurityDelay      float64
 29  LateAircraftDelay  float64
dtypes: float64(14), int64(11), object(5)
memory usage: 443.3+ MB

In [5]:
airlines_delay.head() #muestra las primeras filas de datos para visuzalizar la estructura del dataset

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN

## Ejercicio 2
Realiza un informe completo del dataset:.

- Resume estadísticamente las columnas de interés

Para seleccionaar las columnas, se pueden seleccionar por el nombre de la columna (*'serie'*) o por el index de la columna. En este caso se seleccionaron en base al titulo de la columna:

In [6]:
int_airlines_delay = airlines_delay[['UniqueCarrier','Year','DepDelay','ArrDelay','FlightNum','AirTime', 'Distance']] #seleccion de columnas de interes
extract_delay =int_airlines_delay.copy() #crea una copia del dataframe con las columnas seleccionadas

In [7]:
# llamada al metodo que proporciona una descripcion estadistica de las columnas seleccionadas
extract_delay.describe()

,Year,DepDelay,ArrDelay,FlightNum,AirTime,Distance
count,1936758.0,1.936758e+06,1.928371e+06,1.936758e+06,1.928371e+06,1.936758e+06
mean,2008.0,4.318518e+01,4.219988e+01,2.184263e+03,1.082771e+02,7.656862e+02
std,0.0,5.340250e+01,5.678472e+01,1.944702e+03,6.864261e+01,5.744797e+02
min,2008.0,6.000000e+00,-1.090000e+02,1.000000e+00,0.000000e+00,1.100000e+01
25%,2008.0,1.200000e+01,9.000000e+00,6.100000e+02,5.800000e+01,3.380000e+02
50%,2008.0,2.400000e+01,2.400000e+01,1.543000e+03,9.000000e+01,6.060000e+02
75%,2008.0,5.300000e+01,5.600000e+01,3.422000e+03,1.370000e+02,9.980000e+02
max,2008.0,2.467000e+03,2.461000e+03,9.742000e+03,1.091000e+03,4.962000e+03

- Encuentra cuántos datos faltantes hay por columna

In [8]:
airlines_delay.isnull().sum() #busca los datos faltantes y sumariza el resultado

Unnamed: 0                0
Year                      0
Month                     0
DayofMonth                0
DayOfWeek                 0
DepTime                   0
CRSDepTime                0
ArrTime                7110
CRSArrTime                0
UniqueCarrier             0
FlightNum                 0
TailNum                   5
ActualElapsedTime      8387
CRSElapsedTime          198
AirTime                8387
ArrDelay               8387
DepDelay                  0
Origin                    0
Dest                      0
Distance                  0
TaxiIn                 7110
TaxiOut                 455
Cancelled                 0
CancellationCode          0
Diverted                  0
CarrierDelay         689270
WeatherDelay         689270
NASDelay             689270
SecurityDelay        689270
LateAircraftDelay    689270
dtype: int64

In [9]:
extract_delay.isnull().sum()

UniqueCarrier       0
Year                0
DepDelay            0
ArrDelay         8387
FlightNum           0
AirTime          8387
Distance            0
dtype: int64

Se puede observar que 12 columnas tienen datos faltantes en el dataset original y que el dataset de columnas de interes solo 2 columnas tienen datos faltantes.

- Crea nuevas columnas (velocidad media del vuelo, si ha llegado tarde o no...)

In [10]:
#Se crea una nueva columna especificando el titulo y se genera el calculo de la
#velocidad media de vuelo = (distancia / tiempo de vuelo) llamando a la columna la informacion necesaria
airlines_delay['Meanspeed'] = airlines_delay['Distance'] / airlines_delay['AirTime']
print(airlines_delay[['FlightNum','Meanspeed']]) #se imprime la meanspeed de cada vuelo

         FlightNum  Meanspeed
0              335   6.982759
1             3231   7.168142
2              448   6.776316
3             3920   6.688312
4              378   7.908046
...            ...        ...
1936753       1621   7.550000
1936754       1631   6.166667
1936755       1631   5.647541
1936756       1639   5.988764
1936757       1641   8.403846

[1936758 rows x 2 columns]

In [11]:
#de igual manera se crea un condicional para determinar si un vuelo sufrio retraso o no
airlines_delay['Late arrival'] = np.where(airlines_delay['ArrDelay'] >0, True, False)
print(airlines_delay[['FlightNum','Late arrival']]) #se imprime el numero de vuelo y el resultado de la nueva columna

         FlightNum  Late arrival
0              335         False
1             3231          True
2              448          True
3             3920          True
4              378          True
...            ...           ...
1936753       1621          True
1936754       1631          True
1936755       1631          True
1936756       1639          True
1936757       1641         False

[1936758 rows x 2 columns]

- Tabla de las aerolíneas con mayores retrasos acumulados
\n
Para crear la tabla de aerolineas con mayores retrasos se hicieron los siguientes pasos:
1. Se genero una variable 'n' para especificar el numero de aerolineas a mostrar
2. Se filtro una nueva lista que solo incluye los vuelos que han tenido retraso con un condicional 
3. Se creo una nueva lista donde se agruparon los vuelos por compañia aerea mediante *'groupby'*
4. Se ordenaron los valores *'sort_values'* y se tomaron solo los primeros *'n'* valores
5. Se imprime la tabla creada
 

Dicho proceso se siguio tanto para Departure y Arrival delay.

In [12]:
n=5 #variable para el numero de aerolineas a mostrar
delayed_dep = airlines_delay.loc[airlines_delay['DepDelay']>0] #filtra la lista por la condicion dada
#se crea una nueva lista agrupando los vuelos con retraso por compañia aerea 'groupby'
most_delayedDep = delayed_dep.groupby(['UniqueCarrier']).size().sort_values(ascending=False).iloc[0:n]
print("El top 5 de Aerolineas con mayor retraso en departure es:\n", most_delayedDep)

El top 5 de Aerolineas con mayor retraso en departure es:
 UniqueCarrier
WN    377602
AA    191865
MQ    141920
UA    141426
OO    132433
dtype: int64

In [13]:
delayed_arr = airlines_delay.loc[airlines_delay['ArrDelay']>0] #filtra la lista por la condicion dada
most_delayedArr = delayed_arr.groupby(['UniqueCarrier']).size().sort_values(ascending=False).iloc[0:n]
#se crea una nueva lista agrupando los vuelos con retraso por compañia aerea 'groupby'
print("El top 5 de Aerolineas con mayor retraso en arrival es:\n", most_delayedArr)

El top 5 de Aerolineas con mayor retraso en arrival es:
 UniqueCarrier
WN    324717
AA    172197
MQ    130647
UA    123989
OO    121942
dtype: int64

- ¿Cuáles son los vuelos más largos? ¿Y los más atrasados?
- Etc.

Para encontrar los vuelos mas largos se siguio el mismo procedimiento anterior, con la diferencia que se muestra el origen y el destino de los vuelos.

In [14]:
airtime = airlines_delay.loc[airlines_delay['AirTime']>0] #filtra la lista por la condicion dada
long_airtime = airtime.groupby(['Origin'] + ['Dest']).size().sort_values(ascending=False).iloc[0:n]
#se crea una nueva lista agrupando los vuelos con retraso por compañia aerea 'groupby'
print("Los vuelos mas largos registrados son:\n", long_airtime)

Los vuelos mas largos registrados son:
 Origin  Dest
LAX     SFO     4734
ORD     LGA     4355
ATL     LGA     4025
SFO     LAX     4015
LAS     LAX     3512
dtype: int64

Asi mismo, se buscaron los vuelos con mayor retraso

In [15]:
top_delay = airlines_delay.loc[airlines_delay['ArrDelay']>0] #filtra la lista por la condicion dada
top_delay_f = top_delay.groupby(['Origin'] + ['Dest']).size().sort_values(ascending=False).iloc[0:n]
#se crea una nueva lista agrupando los vuelos con retraso por compañia aerea 'groupby'
print("Los vuelos mas atrasados son:\n", top_delay_f)

Los vuelos mas atrasados son:
 Origin  Dest
LAX     SFO     4271
ORD     LGA     3902
SFO     LAX     3703
ATL     LGA     3597
LAS     LAX     3153
dtype: int64

## Ejercicio 3
Exporta la dataset neto y con las nuevas columnas a Excel.
\n 
Por ultimo se exporta el dataset con las columnas nuevas, para ello se utiliza la funcion *'to_excel'*. Debido a que la cantidad de datos incluidas en el dataset sobrepasa el limite de una hoja de calculo, se dividio la informacion en dos hojas de calculo.

In [16]:
airlines1 = airlines_delay.iloc[:airlines_delay.shape[0]//2,:] #divide la 1ra parte del dataset
airlines2 = airlines_delay.iloc[airlines_delay.shape[0]//2:,:] #divide la 2da parte del dataset
writer = pd.ExcelWriter('airlines_delay.xlsx', engine='xlsxwriter') #Crea Pd Excel writer usando XlsxWriter como engine.
airlines1.to_excel(writer, sheet_name='First Sheet') #guarda cada df en una hoja
airlines2.to_excel(writer, sheet_name='Second Sheet')

In [17]:
writer.save() #cierra el excel writer de pandas y genera el archivo